*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

h3{
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 20px;
}
nav{
    background-color: #929898;
    display: grid;
    place-items: center;
}
nav ul{
    list-style-type: none;

}

nav ul a{
    display: inline-block;
    padding: 30px;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    transition: 0.2s ease-in;
}
nav ul a:hover{
    background-color: rgb(85, 84, 84);
    color: rgb(248, 248, 248);
}
.search-bar {
    width: 200px;
    box-sizing: border-box;
    border: 3px solid #030303;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    
    background-position: 10px 10px; 
    background-repeat: no-repeat; 
    padding: 12px 20px 12px 40px;
    float: right;
}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;

}
.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s ease;
}
.item img:hover{
    transform: scale (1.04)
}
.item h4{
    padding: 5px;
    text-align: center;
}
.item button{
    padding : 5px 30px;
    border :none;
    outline:none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
}
.item button:hover{
    transform: scale(1.08);

}
@media screen and (max-width:1000px){
    .items{

grid-template-columns :repeat(2, 1fr);}
}
@media screen and (max-width:7px){
    .items{

grid-template-columns :repeat(2, 1fr);}
}

.foot{
    width: 100%;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 800;
    background-color: rgb(85, 84, 84);
    display: grid;
    grid-template-columns: (4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    padding: 20px, 20px, 20px, 20px;
    


}
#footer img{ 
    height: 80px;
    padding: 30px, 30px;
   
}

#footer img:hover{
    background-color: crimson;
    color: white;
}

.searchBar{
    display: flex;
    margin-bottom: 20px;
}

#searchInput{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 250px;
}

#searchBtn{
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

#searchBtn:hover{
    background-color: rgb(255, 0, 51);
    border-color: rgb(0, 0, 0, 38, 45);
}
.ingredient {
    cursor: pointer;
}
.purchased {
    text-decoration: line-through;
    color: #999;
}

#print{
    padding : 5px 5px;
   
   
    background-color: black;
    color: white;
    cursor: pointer;
   
}







    
